/* .restaurants{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

} */

.restaurants{
    display: flex;    
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    flex-wrap: wrap;
    margin-bottom: 50px;
}


.restaurant__Link {
    text-decoration: none;
    color: black
}

.restaurant__details{
    margin: 15px;
}

.restaurant__image {
    width: 310px;
    height: 220px;
    margin: 0px 30px;
    border-radius: 40px;
}

.restaurant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}



h1 {
    font-family: "Times New Roman", Times, serif;;
    font-size: 20px;
    text-align: center;   
}

p{
    font-family: "Times New Roman", Times, serif;;
    font-size: 15px;
    text-align: center;
   

}

