.restaurantMenu {
    display: flex;
    justify-content: space-between;
}


.restaurantDetail__menu {
    flex: .2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.items__menu{
    flex: .6;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.cart__menu{
    flex: .35;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    background-color: rgb(245, 245, 245, .95);
    border-radius: 0px 0px 0px 50px ;
}

.cart__item{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.cart__text{
    margin: 5px;
}

.cart__price{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item__detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}