.Header{
    padding: .6rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(245, 245, 245, .90);
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
}

.Header__logo{
    width: 4rem;
    object-fit: contain;
}

.header-right {
    float: right;
  }